/* Apply Google font to entire body */

body {
    font-family: 'Fjalla One', sans-serif;
    background-color: #b4dddd;
}


/* Main game heading styles */

.jumbotron {
    font-family: 'Bungee', cursive;
    margin-bottom: 5px;
    background: transparent;
    color: #000;
}

body {
    background: url(http://res.cloudinary.com/thefinleycode/image/upload/v1477717823/may-703626_1920_goajuj.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Center align all text */

.text-center {
    text-align: center;
}

.btn {
    border-radius: 2px;
}

.btn-purple {
    background-color: #aa44aa;
}

.btn-blue {
    background-color: #4477aa;
}

.form-control {
    width: 50%;
}

select.form-control {
    width: 10%;
}

img
